@media (max-width: 600px) {
    .homevideo video{
      width: 50%;
      margin-top: 10px;
    }
    .homevideo{
        margin-left: -280px;
    }
    .logoimg{
        width:'50px';
        
    }
    .navbar-collapse .nav-link {
        font-size: 20px;
        height: 10px;
        gap: 5px;
        text-align: left;
    }
    
      .navbar-collapse .navbar-nav {
        gap: 5px;
        margin-left: -10px;
    }
    .navbar-toggled {
        margin-bottom: 180px; /* Adjust this value as needed */
      }
    
       
  }